.bannerParentDiv {
  padding-top: 4em;
}

.bannerParentDiv .bannerChildDiv .menuBar {
  display: flex;
  padding: 10px 16px 10px 16px;
}
.categoryMenu .menu {
  font-weight: bolder;
  border: none;
}

 .otherQuickOptions span {
  padding: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto,Arial,Helvetica,sans-serif;
}

.otherQuickOptions span:hover{
  color: cadetblue;
  cursor: pointer;
}

.bannerChildDiv .banner {
  position: relative;
  width: 100vw;
}
.bannerChildDiv .banner img{
  width: 100vw;
  height: 135px;
}

@media only screen and (max-width: 700px) {
  .otherQuickOptions {
    display: none;
  }
  .bannerChildDiv .banner {
    position: relative;
  }
}
